.hidden {
  display: none !important;
}

.row {
  display: flex;
}

.container {
  height: 900px;
  background-color: rgb(240 240 240);
}

* {
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  .column {
    width: 50%;
  }
}
