.hidden {
  display: none !important;
}

.row {
  display: flex;
}

.container {
  height: 900px;
  background-color: rgb(240 240 240);
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .favorites {
    width: 100%;
  }

  .container {
    width: 900px;
  }

  .dom-image {
    width: 25%;
    margin-right: 2rem;
  }

  .textarea {
    width: 30%;
  }

  .column {
    width: 25%;
  }

  .save-btn {
    position: relative;
    left: 22rem;
  }

  .header {
    width: 100%;
  }

  .generate-img {
    padding: 15px;
    margin-top: 0;
    margin-left: 1rem;
  }

  .image {
    width: 600px;
  }
}
