.container {
  width: 900px;
  margin: auto;
}

a {
  padding-left: 1rem;
  font-size: 15px;
  padding-top: 8px;
  color: rgb(51 172 255);
  cursor: pointer;
}

h1 {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  font-family: serif;
  padding-bottom: 4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: rgb(27, 123, 255);
  width: 100%;
  margin-top: 0;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  height: 70px;
  border-bottom: 4px dotted red;
}

.bigbutton {
  margin-top: 3rem;
  border-radius: 10px;
  background-color: rgb(190 243 253);
  padding: 25px;
  margin-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
  font-weight: 700;
  font-size: xx-large;
  font-family: serif;
  cursor: pointer;
  border-style: none;
  margin-right: 30%;
}

button:hover {
  background-color: aqua;
  color: black;
  transition: 1s ease;
}

img {
  width: 500px;
  height: 500px;
}

.generate-img {
  display: flex;
  width: 100%;
  justify-content: center;
}

.image-container {
  justify-content: center;
}

i {
  position: relative;
  cursor: pointer;
  right: 2rem;
}

.clicked {
  color: lightblue;
}

.column {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  width: calc(100% / 2);
  margin-left: 2.5rem;
}

.dom-image {
  width: 650px;
  height: 400px;
  border-radius: 5px;
}

h6 {
  margin-top: 0;
}

textarea {
  width: 650px;
  height: 40px;
  resize: none;
}

li {
  list-style-type: none;
}

.save-btn {
  margin-top: 0.5em;
  border-radius: 5px;
  background-color: rgb(190 243 253);
  padding: 25px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: black;
  font-weight: 700;
  font-size: small;
  font-family: serif;
  cursor: pointer;
  border-style: none;
  margin-right: 30%;
}

.favorites-view-text {
  color: rgb(33, 111, 222);
  padding-left: 1rem;
  font-size: xx-large;
  margin-left: 2rem;
}

.favorites {
  display: flex;
}

.column-editing {
  align-items: center;
  justify-content: center;
}

.image {
  width: 650px;
  height: 600px;
  position: relative;
  right: 2.5rem;
  border-radius: 10px;
}

.close-modal-btn {
  position: absolute;
  background-color: rgb(182, 182, 182);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  top: 8rem;
  left: 1rem;
  border-radius: 4px;
  font-size: x-large;
  border: none;
}

.confirm-modal {
  position: absolute;
  background-color: rgb(235 93 93);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  right: 1rem;
  bottom: 1rem;
  border-radius: 4px;
  font-size: x-large;
  border: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 60%);
}

#modal {
  max-width: 450px;
  height: 200px;
  margin: auto;
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 5rem;
  left: 0;
  right: 0;
  border-radius: 4px;
}

h4 {
  color: black;
  position: relative;
  left: 4rem;
  padding-top: 6%;
  font-family: sans-serif;
}

h5 {
  color: red;
}

.fa-trash-can {
  position: relative;
  right: 5rem;
}

@media screen and (max-width: 480px) {
  .header {
    width: 100%;
  }

  .dom-image {
    width: 400px;
  }

  textarea {
    width: 400px;
  }

  .favorites-view-text {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .image {
    width: 300px;
    height: 300px;
  }

  button {
    padding: 0.5rem;
    font-size: small;
    position: relative;
    right: 3rem;
  }

  .container {
    width: 480px;
  }

  .fa-trash-can {
    margin-left: 2rem;
  }
}
