.container {
  width: 900px;
  margin: auto;
}

a {
  padding-left: 1rem;
  font-size: 15px;
  padding-top: 8px;
  color: rgb(51 172 255);
  cursor: pointer;
}

h1 {
  display: flex;
  justify-content: center;
  padding-left: 2rem;
  font-family: serif;
  padding-bottom: 4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: rgb(27, 123, 255);
  width: 100%;
  margin-top: 0;
  color: white;
  font-family: sans-serif;
  font-size: 15px;
  height: 70px;
}

button {
  margin-top: 3rem;
  border-radius: 10px;
  background-color: rgb(190 243 253);
  padding: 25px;
  margin-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  color: black;
  font-weight: 700;
  font-size: xx-large;
  font-family: serif;
  cursor: pointer;
  border-style: none;
  margin-left: 4rem;
}

img {
  width: 500px;
  height: 500px;
}

.generate-img {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-right: 23rem;
}

.image-container {
  justify-content: center;
}

i {
  position: relative;
  cursor: pointer;
  right: 2rem;
}

.clicked {
  color: lightblue;
}

.column {
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  width: calc(100% / 2);
  margin-left: 2.5rem;
}

.dom-image {
  width: 650px;
  height: 400px;
  box-shadow:
    rgba(46, 101, 240, 0.914) 5px 5px,
    rgba(39, 100, 255, 0.3) 10px 10px,
    rgba(0, 17, 249, 0.2) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(240, 46, 170, 0.05) 25px 25px;
}

h6 {
  margin-top: 0;
}

textarea {
  width: 650px;
  height: 40px;
  resize: none;
}

li {
  list-style-type: none;
}

.save-btn {
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0.5rem;
  margin-left: 0;
  font-size: 10px;
  position: relative;
  left: 0.5rem;
}

.favorites-view-text {
  color: rgb(33, 111, 222);
  padding-left: 1rem;
  font-size: xx-large;
  margin-left: 2rem;
}

.favorites {
  display: flex;
}

.column-editing {
  align-items: center;
  justify-content: center;
}

.image {
  width: 650px;
  height: 600px;
  position: relative;
  right: 2.5rem;
}

#close-modal-btn {
  position: absolute;
  background-color: rgb(182, 182, 182);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  top: 8rem;
  left: 1rem;
  border-radius: 4px;
  font-size: x-large;
  border: none;
}

#confirm-modal {
  position: absolute;
  background-color: rgb(235 93 93);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  right: 1rem;
  bottom: 1.5rem;
  border-radius: 4px;
  font-size: x-large;
  border: none;
}

#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(0 0 0 / 60%);
}

#modal {
  max-width: 450px;
  height: 200px;
  margin: auto;
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 5rem;
  left: 0;
  right: 0;
  border-radius: 4px;
}

h4 {
  color: black;
  position: relative;
  left: 4rem;
  padding-top: 6%;
  font-family: sans-serif;
}

h5 {
  color: red;
}

.fa-trash-can {
  position: relative;
  left: 1.5rem;
}
